/* reset css */
* {
    margin:0;
    padding:0;
    border:none;
    outline:none;
    font-size:100%;
}

body {
    height: 420px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: translate3d(0,0,0);

    background: url(slices/background.png) no-repeat;
    background-size: 320px 480px;
}

.top_toolbar, .bottom_toolbar  {
    height: 50px;
    width: 100%;
    position: absolute;
}

.top_toolbar {
    top: 0;
}

.location {
    padding-left: 38px;
}

.location .icon,
.location .subject {
    margin: 5px;
    padding: 5px;
    display: block;
    float:left;
    font-size: 16px;
    color: blue;
}

.location .subject {
    background: url(slices/location.png) no-repeat;
    background-size: 278px 39px;
    width: 278px;
    height: 39px;
}


.location .map {
    background: url(slices/maps/map-background.png) no-repeat;
    background-size: contain;
    overflow: hidden;

    width: 320px;
    height: 460px;
    font-size: 18px;

    position: absolute;
    left: 0;
    -webkit-transform: translate(0, -460px);

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
}

.map .close
{
    background: url(slices/maps/Closeicon.png) no-repeat;
    background-size: contain;

    position: absolute;
    left: 10px;
    bottom: 50px;
    width: 45px;
    height: 45px;
}

.map .promotion
{
    list-style:none;

    position: absolute;
    top: 0;
    right: 0;
}

.location.expanded .subject {
    display: none;
}

.location.expanded .map{
    -webkit-transform: translate(0, 0);
    display: block;
    z-index: 1000;
}

.bottom_toolbar {
    bottom: 0;
    background: green;
}

/* search content */
.search-pane {
    height: 100%;
    width: 320px;
    position: relative;
    top: 0;
    bottom: 0;

    -webkit-transform: translate(-320px, 0);
}

.icon.search{
    position: absolute;
    z-index: 100;
    background: url(slices/search.png) no-repeat;
    background-size: 37px 42px;
    width: 37px;
    height: 42px;
    text-indent: 4000px;
}

.search-pane .icon.search {
    top: 0;
    right: 0;
}

.tile-pane .icon.search
{
    left: 0;
    top: 0;
}

.tile-pane {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    /*background: blue;*/
}

/*
.row {
width: 100%;
height: 100px;
}
 */

.tile {
    /*border: 1px solid #BFBFBF;*/
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition-property: -webkit-transform,width,height;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: translate3d(0,0,0);
}

.small-tile {
    /*
    float: left;
    margin: 5px;
    */
    width: 145px;
    height: 90px;
}

/*
.big-tile {
    width: 295px;
    height: 90px;
}
*/

.focused .tile {
}

.enlarged {
    -webkit-transform: translate(0, 0);
    width: 300px;
    height: 300px;
    /*z-index: 1000;*/
}

.highlighted {
        z-index: 1000;
}

.tile-weather {
    background: url(slices/weather.png) no-repeat;
    background-size: 147px 112px;
    width: 147px;
    height: 112px;
}

.tile-email {
    background: url(slices/email.png) no-repeat;
    background-size: 147px 118px;
    width: 147px;
    height: 118px;
}

.tile-twitter {
    background: url(slices/twitter.png) no-repeat;
    background-size: 147px 118px;
    width: 147px;
    height: 118px;
}

.tile-facebook {
    background: url(slices/facebook.png) no-repeat;
    background-size: 147px 118px;
    width: 147px;
    height: 118px;
}


.tile-push-info {
    background: url(slices/pushing-info.png) no-repeat;
    background-size: 312px 160px;
    width: 312px;
    height: 160px;
}

/* bottom bar */
.bot-bar
{
    background: url(slices/BottomBar.png) no-repeat;
    background-size: 319px 71px;
    width: 319px;
    height: 71px;
    position: absolute;
    left: 0;
    bottom: 0;
}


.bot-bar .icon
{
    background-size: 55px 55px;
    display: block;
    width: 55px;
    height: 55px;
    float: left;
    position: static;
    margin: 5px 25px;
}

.bot-bar .icon-text
{
    background: url(slices/Icon_search.png) no-repeat;
}

.bot-bar .icon-text:active
{
    background: url(slices/Icon_search_click.png) no-repeat;
}

.bot-bar .icon-voice
{
    background: url(slices/Icon_Siri.png) no-repeat;
}

.bot-bar .icon-voice:active
{
    background: url(slices/Icon_Siri_click.png) no-repeat;
}

.bot-bar .icon-photo
{
    background: url(slices/Icon_camera.png) no-repeat;
}

.bot-bar .icon-photo:active
{
    background: url(slices/Icon_camera_click.png) no-repeat;
}

/* conversation view */
.conv-view
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 71px;
    width: 100%;
    overflow: auto;
}

.scroll-content
{
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
}

.conv-list ul
{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

.conv-list li {
    /*
    padding:0 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    font-size:14px;
    */
}

.tile-push-info.expanded
{
    background: url(slices/pushing-info_expand.png) no-repeat;
    /*background-size: 313px 345px;*/
}

.tile.expanded
{
    background-size: contain;
}

.tile-push-info.expanded
{
    background-size: cover;
}


.tile-weather.minify
{
    background: url(slices/weather_small.png) no-repeat;
}

.tile-email.minify
{
    background: url(slices/email_small.png) no-repeat;
}

.tile-twitter.minify
{
    background: url(slices/twitter_small.png) no-repeat;
}

.tile-facebook.minify
{
    background: url(slices/facebook_small.png) no-repeat;
}

.tile-push-info.minify
{
    background: url(slices/push.png) no-repeat;
}


.minify
{
    width: 71px !important;
    height: 48px !important;
    background-size: contain;
}


/* stand alone */
.app-mode .search-pane
{
    height: 460px;
}

/* map */
.location .map.shown {

    z-index: 1000;

    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: translate3d(0,0,0);

    -webkit-transform: translate(0, 0);
}

.map .shop
{
    display: block;
}

.map .curr_shop
{
    /*background: url(slices/maps/4-enlarge.png) no-repeat;*/
    background-size: contain;
    width: 305px;
    height: 309px;
    z-index: 1100;
    position: absolute;
    top: 50px;
    left: 5px;
}

.map .hidden
{
    display: none;
}
