.yui3-js-enabled .yui3-carousel-loading {
    visibility: hidden;
}

.yui3-carousel-content {
    position: relative;
    width: 100%;
    height: 100%;
    /*border: 1px solid #bfbfbf;*/

    overflow: hidden;

    position: relative;

    width: 100%;
    height: 100%;
}

.yui3-carousel-content .hidden {
    margin: 0px auto;
    display: none;
}

.yui3-carousel-content .yui3-carousel-block {
    position: absolute;
    height: 377px;
    width: 265px;
    -webkit-transform: translate3d(0,0,0);
    left: -118px; /* half of width*/

    -webkit-transition: 0.15s ease-out;
}

.yui3-carousel-content ul {
    position: absolute;
    left: 50%;
    top: 100px;
    margin: 150px 0 0 0;
    padding: 0 0;

    height: 2000px;

    -webkit-transform-origin: 50% 100%;
}

.yui3-carousel-content ul li {
    list-style: none;
    position: absolute;
    height: 2000px;
    display: block;
    -webkit-transform-origin: 50% 100%;
}



.yui3-carousel-fan {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.25s ease-out;
}

.yui3-carousel-fan.adjusting {
    -webkit-transition: -webkit-transform 0.35s ease-out;
}

.yui3-carousel-content .enlarged .yui3-carousel-block {
    width: 415px;
    height: 592px;
    left: -207px; /* half of width*/
    top: -220px;
    z-index: 100000;
}

.yui3-carousel-content .enlarged {
    z-index: 100000!important;
}

