.card-fold {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 640px;

    -webkit-perspective: 1200;
}

.card-fold .roll {
    position: absolute;
    width: 320px;
    height: 480px;
    z-index: 10;

    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);

    /*-webkit-transform-origin: left center;*/
    /*left: 640px;*/
    /*z-index: 100;*/
    /*background: black;*/
    border: 1px solid black;
}

.card-container {
    float: left;
    border: 0px solid gray;
    /*margin: 2px;*/

    -webkit-perspective: 1000;

    width: 320px;
    height: 480px;

    /*-webkit-transform-origin: left center;*/
}

/*
.card-fold.folded .card-container:nth-child(even) .card {
    -webkit-transform: rotateY(180deg);
}

.card-fold .card-container:nth-child(odd) .card {
}
*/


.card-container.flipped .card{
    -webkit-transform: rotateY(180deg);

    /*-webkit-box-shadow: -10px 10px 15px #888;*/
}

/*

.card {
    width: 320px;
    height: 480px;
    position: absolute;

    -webkit-box-shadow: 10px 10px 15px #888;

    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.75s ease-in-out;
}
*/

.foldedcard .front {
    display: none;
}

.card .face {
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 320px;
    height: 480px;
    background: yellow;
}

.card .back {
    -webkit-transform: rotateY(180deg);
    background: blue;
}


.card-1 {
    position: absolute;
    left: 0px;
}
.card-2 {
    position: absolute;
    left: 320px;
}
.card-3 {
    position: absolute;
    left: 640px;
}
.card-4 {
    position: absolute;
    left: 960px;
}




