.yui3-js-enabled .yui3-flipview-loading {
    visibility: hidden;
}

.yui3-flipview-content {
    position: relative;
    width: 100%;
    height: 100%;
   /* border: 1px solid #bfbfbf;*/
}

.yui3-flipview-content .hidden {
    display: none;
}

.yui3-flipview-content:after { /* clearfix*/
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.yui3-flipview-content {
    -webkit-perspective: 3000;
    -moz-perspective: 3000;
    perspective: 3000;

    /*display: inline-block;*/
}

.yui3-flipview-content > .page {
    -webkit-transform: translate3d(0,0,0);
    position: absolute;
    background: #FFF;

    border: none;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.yui3-flipview-content .left-flip,
.yui3-flipview-content .right-flip,
.yui3-flipview-content .left-clipper,
.yui3-flipview-content .right-clipper{
    border: none;
}

.yui3-flipview-content .right-flip {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    /*border: 1px solid #BFBFBF;*/
    border-left: none;
    top: 0px;
    right: 0px;
    width: 50%;
    overflow: hidden;
    -webkit-transform-origin: left center;
}

.yui3-flipview-content .right-flip.to-left {
    -webkit-transform: left center;
    -webkit-transform: rotateY(-180deg);
    /*border: 1pxp solid red;*/
}

.yui3-flipview-content .left-flip {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    /*border: 1px solid #BFBFBF;*/
    border-right: none;

    overflow: hidden;
    -webkit-transform-origin: right center;
    -webkit-transform: rotateY(180deg);
    left: 0px;
    top: 0px;
}

.yui3-flipview-content .left-flip.to-left {
    -webkit-transform-origin: right center;
    -webkit-transform: rotateY(-0deg);
}

.yui3-flipview-content .left-clipper {
    overflow: hidden;
    width: 50%;
    left: 0;
}

.yui3-flipview-content .right-clipper {
    overflow: hidden;
    width: 50%;
    right: 0;
}

